In [30]:
import pandas as pd

In [31]:
df= pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0  Nonspam  Go until jurong point, crazy.. Available only ...
1  Nonspam                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3  Nonspam  U dun say so early hor... U c already then say...
4  Nonspam  Nah I don't think he goes to usf, he lives aro...

In [32]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
Nonspam     4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
Nonspam    30
spam        4

In [33]:
df['spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)

In [34]:
df.head()

  Category                                            Message  spam
0  Nonspam  Go until jurong point, crazy.. Available only ...     0
1  Nonspam                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  Nonspam  U dun say so early hor... U c already then say...     0
4  Nonspam  Nah I don't think he goes to usf, he lives aro...     0

In [35]:
df.drop(['Category'],axis='columns')

                                                Message  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...     1
5568               Will ü b going to esplanade fr home?     0
5569  Pity, * was in mood for that. So...any other s...     0
5570  The guy did some bitching but I acted like i'd...     0
5571                         Rofl. Its true to its name     0

[5572 rows x 2 columns]

In [36]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.Message,df.spam)

In [50]:
from sklearn.feature_extraction.text import CountVectorizer
#CountVectorizer used to convert a collection of text documents into matrix  used in NLP 

v= CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
print(X_train_count.toarray())
print(v.get_feature_names_out())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
['00' '000' '000pes' ... 'èn' 'ú1' '〨ud']

In [51]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [52]:
msgs=[
    'Hey Diksha, can we get together to watch the cricket match tomorrow?',
    'Upto 20% discount on parking exclusive offer just for you . Dont miss out ',
    'You just won a reward of $200000000'
    
]
emails_count = v.transform(msgs)
print(emails_count)
model.predict(emails_count)
#predicted first as non spam, second as spam

  (0, 1594)	1
  (0, 3045)	1
  (0, 3343)	1
  (0, 4273)	1
  (0, 6641)	1
  (0, 6754)	1
  (0, 6764)	1
  (0, 6779)	1
  (0, 7201)	1
  (0, 7216)	1
  (1, 333)	1
  (1, 2292)	1
  (1, 2354)	1
  (1, 2871)	1
  (1, 3780)	1
  (1, 4405)	1
  (1, 4785)	1
  (1, 4821)	1
  (1, 4891)	1
  (1, 4972)	1
  (1, 7012)	1
  (1, 7497)	1
  (2, 3780)	1
  (2, 4781)	1
  (2, 5633)	1
  (2, 7369)	1
  (2, 7497)	1

array([0, 1, 1], dtype=int64)