In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("spam.csv")
df

     Category                                            Message
0     Nonspam  Go until jurong point, crazy.. Available only ...
1     Nonspam                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3     Nonspam  U dun say so early hor... U c already then say...
4     Nonspam  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568  Nonspam               Will ü b going to esplanade fr home?
5569  Nonspam  Pity, * was in mood for that. So...any other s...
5570  Nonspam  The guy did some bitching but I acted like i'd...
5571  Nonspam                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
Nonspam     4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
Nonspam    30
spam        4

In [7]:
df['spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0  Nonspam  Go until jurong point, crazy.. Available only ...     0
1  Nonspam                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  Nonspam  U dun say so early hor... U c already then say...     0
4  Nonspam  Nah I don't think he goes to usf, he lives aro...     0

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(df.Message,df.spam)

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_train_count=v.fit_transform(X_train.values)
print(X_train_count.toarray())
print(v.get_feature_names_out())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
['00' '000' '000pes' ... 'èn' 'ú1' '〨ud']

In [14]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [23]:
emails=['hi, my name is diksha. what is your name?  what do you think am i spam?'
       ,'do you want ice cream?'
       ,'the weature is good today'
       ,'Hey Rishi,can we get together to watch football game tomorrow?',
       'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!']
emails_count=v.transform(emails)
print(emails_count)
model.predict(emails_count)

  (0, 893)	1
  (0, 2296)	1
  (0, 3341)	1
  (0, 3652)	2
  (0, 4545)	1
  (0, 4566)	2
  (0, 6184)	1
  (0, 6665)	1
  (0, 7282)	2
  (0, 7507)	1
  (0, 7511)	1
  (1, 2000)	1
  (1, 2296)	1
  (1, 3496)	1
  (1, 7190)	1
  (1, 7507)	1
  (2, 3099)	1
  (2, 3652)	1
  (2, 6634)	1
  (2, 6755)	1
  (3, 1581)	1
  (3, 2848)	1
  (3, 2978)	1
  (3, 3030)	1
  (3, 3337)	1
  (3, 6749)	1
  (3, 6759)	1
  (3, 6774)	1
  (3, 7211)	1
  (3, 7228)	1
  (4, 323)	1
  (4, 2273)	1
  (4, 2331)	1
  (4, 2853)	1
  (4, 3775)	1
  (4, 4397)	1
  (4, 4770)	1
  (4, 4803)	1
  (4, 4960)	1
  (4, 5626)	1
  (4, 6671)	1
  (4, 7011)	1
  (4, 7507)	1

array([0, 0, 0, 0, 1], dtype=int64)

In [ ]:
x_test_count=v.